<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>login</title>
    <link href="static/script/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="static/css/login.css" rel="stylesheet"/>
    <script src="static/script/jquery/jquery-3.2.1.min.js"></script>
    <script src="static/script/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="background-color: cadetblue;">
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <form action="" method="post" class="form-horizontal">
                <div class="form-group">
                    <input type="text" name="username" value="admin" class="form-control" id="username" placeholder="用 户 名"/>
                    <i class="glyphicon glyphicon-user"></i>
                </div>
                <div class="form-group help">
                    <input type="text" name="password" value="123456" class="form-control" id="password" placeholder="密　码"/>
                    <i class="glyphicon glyphicon-lock"></i>
                    <a href="#" class="fa fa-question-circle"></a>
                </div>
                <div class="form-group">
                    <input type="submit" value="登录" class="btn btn-default"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>